.contact-container {
    display: flex;
}

.contact-bg-img {
    width: 35%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.contact-bg-img img {
    flex-shrink: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    margin: 100px 100px;
    position: absolute;
    left: 35%;
    right: 0;
}

.contact-title-container {
    margin: 50px 0px;
}

.contact-title-container p {
    color: #fff;
    font-size: 21px;
    margin: 0px 20px;
    text-transform: capitalize;
}

.contact-title-container h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 7vw;
    letter-spacing: 8px;
    font-family: var(--neue) !important;
    background: linear-gradient(271deg, rgba(230, 182, 151, 1) 0%, rgba(173, 120, 86, 1) 5%, rgba(122, 74, 46, 1) 10%, rgba(181, 127, 92, 1) 50%, rgba(230, 182, 151, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
    text-transform: uppercase;
    margin: 10px 10px;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 0px;
}

.form-container-block div{
    display: flex;
    flex-direction: column;
}

.form-container-block div input {
    background: none;
    margin: 20px 20px;
    border: none;
    padding: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}

.form-container-textarea {
    grid-column: 1 / 3;
}

.form-container-textarea input {
    font-family: "poppins";
    background: none;
    margin: 40px 20px;
    border: none;
    padding: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    width: 96%;
}

.form-container-textarea button {
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin: 20px 20px;
}

.contact-details-container {
    margin: 50px 0px;
}

.contact-details-container div {
    margin: 40px 0px;
}

.contact-details-container div h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 0px;
    color: rgba(173, 120, 86, 1);
}

.contact-details-container div p {
    color: #ccc;
    padding: 3px 0px;
    width: 40%;
}

iframe {
    border: 0px;
    margin: 20px 0px;
    width: 96%;
}

.contact-copyright-container {
    margin: 80px 0px 80px 0px;
    color: #ccc;
    text-transform: capitalize;
}

/* .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -100px;
    padding: 10px 0px;
    position: relative;
    top: 50%;
    width: 200px;
    margin-bottom: 200px;
  }

  .input:focus {
    outline: none;    
  }
  
  input::-webkit-input-placeholder {
    color: #AAA;
  }
  
  input:focus::-webkit-input-placeholder {
    color: dodgerblue;
  }
  
  .input:focus + .underline {
    transform: scale(1);
  }
  
  .underline {
    background-color: dodgerblue;
    display: inline-block;
    height: 2px;
    left: 50px;
    margin-top: -4px;
    position: absolute;
    top: 185px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 202px;
  } */



  @media (max-width: 768px) {
    
    .contact-container {
      flex-direction: column;
    }

    .contact-bg-img {
      width: 100%;
      height: 30vh;
      position: relative;
      top: 120px;
      left: 0;
      right: 0;
    }

    .contact-bg-img img {
      flex-shrink: inherit;
    }

    .contact-form-container {
      margin: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 120px;
      left: 0;
      right: 0;
    }

    .contact-title-container {
      margin: 20px 0px;
    }

    .contact-title-container p {
      font-size: 18px;
      margin: 0px 10px;
    }

    .contact-title-container h2 {
      font-size: 15vw;
    }

    .form-container {
      margin-top: 50px;
    }

    .form-container-block div{
      display: flex;
      flex-direction: column;
    }

    .form-container-block div input {
      margin: 10px;
    }

    .form-container-block1 div input {
      margin: 10px;
    }

    .contact-details-container {
      margin: 50px 0px;
    }

    .contact-details-container div {
      margin: 40px 0px;
    }

    .contact-details-container div h2 {
      font-size: 16px;
      padding: 10px 0px;
    }

    .contact-details-container div p {
      padding: 3px 0px;
      width: 100%;
      font-size: 14px;
    }

    iframe {
      margin: 0px;
      width: 100%;
    }

    .contact-copyright-container {
      margin: 80px 10px 40px 10px;
      font-size: 14px;
    }

    
  }